.header{
    width: 1240px;
    height: 85px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    position: sticky;
}
.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    flex-wrap: nowrap;
    padding: 0px;
    overflow-x: hidden;
}
.html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.image{
    width: 70px;
    height: 70px;
}
.auto-logo{
    width:90px;
    margin-top: 10px;
    height: 70px;
    margin-left: 30px;
    

}
.automate{
    font-size: 30px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

}
.auto-name{
    width:130px;
    margin-top:20px;
    height: 50px;
    margin-left:0px;
    padding-right: 100px;

}
.search-bardiv{
    width: 450px;
    margin-top:20px;
    
}
.search-bar{
    width: 450px;
}
.search{
    width: 450px;
}
.search-bbar{
    width:430px;
}
.search-sign{
    width:40px;
    height:40px;
    margin-top: 20px;
    
}
.insta-face{
    width: 100px;
    height: 50px;
    margin-left: 580px;
    padding-left: 0px;
    margin-top: 27px;
    display: flex;

}
.you-tube{
    width: 25px;
    height: 21px;
    padding-left: 5px;
    padding-top: 2px;
    
}
.search-image{
    width: 25px;
    height: 25px;
}
.insta-image{
    width: 25px;
    height: 25px;
}
.face-image{
    width: 25px;
    height: 25px;
    padding-left: 5px;
}
.title-bar{
    width:1240px;
    height: 50px;
    background-color: black;
    margin-top: 2px;
}
.news{
    width:50px;
    height:50px;
    display: inline-block;
    margin-left:5px;
    
}
.cars{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.bike{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.comparision{
    width:120px;
    height:50px;
    display: inline-block;
}
.newsp{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carsp{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bikep{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.comparisonsp{
    width:120px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.below-news-page{
    background-color: black;
    width: 1240px;
    height: 1700px;
    flex-wrap: wrap;
}
.left{
    width:100%;
    height: 1600px;
    background-color:black;
    float: left;
    padding-left: 5px;
}
.audi{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 8px;
}
.q2{
    width: 99%;
    height:200px;
}
.q2para{
    color: white;
    width: 300px;
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.second-left{
    width:100% ;
    height:1550px;
    background-color: black;
    margin-top: 78px;
    padding-left: 5px;
}

.a4{
    width:99%;
    height: 200px;
}
.a4para{
    color:white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
    
}
.first-right{
    width: 100%;
    height:1550px;
    background-color: black;
    margin-top: 78px;
 
}
.a6{
    width: 99%;
    height:200px;
}
.a6para{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.second-right{
    width:100%;
    height:1550px;
    background-color:black;
    float: right;
    margin-top: 78px;
    margin-left: 2px;
    
}
.q7{
    width: 99%;
    height:200px;
}
.q7para{
    color: white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.full-left{
    float: left;
    width: 49%;
    height:1550px;
    background-color: black;
    display: flex;

}
.full-right{
    float:right;
    width: 50%;
    height:1550px;
    background-color: black;
    display: flex;
}
.q5{
    width: 99%;
    height:200px;
}
.q5para{
    color:white;
    width: 300px;
    margin-left: 5px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rs7{
    width: 99%;
    height:200px;
}
.rs7para{
    color:white;
    width: 300px; 
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.q8{
    width: 99%;
    height:200px;
}
.q8para{
    color:white;
    width: 300px; 
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.etrongt{
    width: 99%;
    height:200px;
}
.etrongtpara{
    color:white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.a8l{
    width: 99%;
    height:200px;
}
.a8lpara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.s5{
    width: 99%;
    height:200px;
}
.s5para{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.rsq8{
    width: 99%;
    height:200px;
}
.rsq8para{
    color:white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.etron{
    width: 99%;
    height:200px;
}
.etronpara{
    color:white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.rs5{
    width: 99%;
    height:200px;
}
.rs5para{
    color: white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.etronsportback{
    width: 99%;
    height:200px;
}
.etronsportbackpara{
    color: white;
    width: 300px;
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 5px;
}
.footer{
    background-color: rgb(117, 110, 110);
    height:300px;
    display: flex;
    width: 1240px;
    
}
.footer-left{
    width: 500px;
    height:300px;
    margin-left: 10px;
}
.footer-middle{
    width:500px ;
    height: 300px;
    margin-top: 10px;
}
.footer-right{
    width: 300px;
    height: 300px;
}
.leftfooter-para{
    color:black;
    font-size:19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about{
    color: black;
    font-size: 18px;
    text-decoration: wavy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.contact{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.automotive-content{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya-mail{
    color:black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.designing{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo-mail{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.footer-cars{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer-bikes{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.comparisions{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.carso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.bikeso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.news:hover{
    background-color:rgb(61, 61, 61);
}
.cars:hover{
    background-color:rgb(61, 61, 61);
}
.bike:hover{
    background-color:rgb(61, 61, 61);
}
.comparision:hover{
    background-color:rgb(61, 61, 61);
}
.vidhya-mail:hover{
    background-color:rgb(61, 61, 61);
}
.christo-mail:hover{
    background-color:rgb(61, 61, 61);
}
.copy-right{
    width: 1240px;
    height: 30px;
    background-color: rgb(36, 35, 35);
    padding-top: 0px;
    margin: 0px;
    flex-direction: column;
}
.copyright{
    font-size: 18px;
    color:grey;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 540px){ 
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .q2{
      width:100%;
    } 
    .q2para{
      overflow-wrap: break-word;
      font-size: 12px;
    }
    .a4{
      width: 100%;
    } 
    .a4para{
        font-size: 12px;
    }
    .a6{
      width: 100%;
    }
    .a6para{
        font-size: 12px;
    }
    .q7{
       width: 100%;
    }
    .q7para{
        font-size: 12px;
    }
    .q5{
        width: 100%;
    }
    .q5para{
        font-size: 12px;
    }
    .rs7{
        width: 100%;
    }
    .rs7para{
        font-size: 12px;
    }
    .q8{
        width: 100%;
    }
    .q8para{
        font-size: 12px;
    }
    .etrongt{
        width: 100%;
    }
    .etrongtpara{
        font-size: 12px;
    }
    .s5{
        width: 100%;
    }
    .s5para{
        font-size: 12px;
    }
    .a8l{
        width: 100%;
    }
    .a8lpara{
        font-size: 12px;
    }
    .rsq8{
        width: 100%;
    }
    .rsq8para{
        font-size: 12px;
    }
    .etron{
        width: 100%;
    }
    .etronpara{
        font-size: 12px;
    }
    .rs5{
        width: 100%;
    }
    .rs5para{
        font-size: 12px;
    }
    .etronsportback{
        width: 100%;
    }
    .etronsportbackpara{
        font-size: 12px;
    }
    .below-news-page{
        height: 2900px;
        width:100%;
        justify-content: center;
    }
    .full-right{
        flex-wrap: wrap;
    }
    .full-left{
        flex-wrap: wrap;
    }
    .left{
        width: 100%;
        height:1500px;
        margin-left: 0px;
    }
    .second-left{
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        height: 1300px;
    }
    .first-right{
        width: 100%;
        margin-right: 5px;
        height: 1080px;
        margin-left: 4px;
    }
    .second-right{
        width: 100%;
        margin-top:0px ;
        margin-left: 5px;
        margin-right: 5px;
        height: 1600px;
        
    }
    .header{
        width:100%;
        height: 50px;
    }
    .auto-logo{
        width: 55px;
        margin-top: 5px;
        height: 45px;
        margin-left: 10px;
    }
    .image{
        width: 45px;
        height: 45px;
    }
    .auto-name{
        width: 50px;
        height: 45px;
    }
    .automate{
        font-size: 20px;
    }
    .insta-face{
        width: 70px;
        height: 35px;
    }
    .insta-image{
        width: 15px;
        height: 15px;
    }
    .face-image{
        width: 15px;
        height: 15px;
    }
    .you-tube{
        width: 15px;
        height: 13px;
    }
    .below-news-page{
        width: 100%;
    }
    .title-bar{
        width: 100%;
    }
    .insta-face{
        margin-left: 60px;
    }
    .footer-left{
        width:60% ;
        height: 300px;
    }
    .footer-middle{
        width:40% ;
        height: 300px;
        margin-left: 0px;
        margin-right: 10px;
    }
    .footer-right{
        display: none;
    }
    .footer{
        height: 400px;
        width: 1280px;
    }
    .leftfooter-para{
        font-size: 12px;
    }
    .about{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    .automotive-content{
        font-size: 15px;
    }
    .vidhya{
        font-size: 15px;
    }
    .vidhya-mail{
        font-size: 12px;
    }
    .designing{
        font-size: 15px;
    }
    .christo{
        font-size: 15px;
    }
    .christo-mail{
        font-size: 12px;
    }
    .footer-cars{
        font-size: 15px;
    }
    .footer-bikes{
        font-size: 15px;
    }
    .comparisions{
        font-size: 15px;
    }
    .carso{
        font-size: 15px;
    }
    .bikeso{
        font-size: 15px;
    }
    .copyright{
        margin-left: 0%;
        font-size: 15px;
        margin-left: 20px;
    }
}
@media only screen and (min-width: 1240px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1700px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1241px){
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    .title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1700px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1350px){
.footer{
    width: 100%;
    height: 400px;
}
.copy-right{
    width: 100%;
}
.header{
    width: 100%;
    height: 95px;
}
.title-bar{
    width: 100%;
}
.classic350{
    width:99%;
    height: 250px;
  } 
  .classic350para{
    overflow-wrap: break-word;
    font-size: 22px;
  }
  .bullet350{
    width: 99%;
    height: 250px;
  } 
  .bullet350para{
      font-size: 22px;
  }
  .meteor350{
    width: 99%;
    height: 250px;
  }
  .meteor350para{
      font-size: 22px;
  }
  .himalayam{
     width: 99%;
     height: 250px;
  }
  .himalayampara{
      font-size: 22px;
  }
  .continentalgt650{
      width: 99%;
      height: 250px;
  }
  .continentalgt650para{
      font-size: 22px;
  }
  .scram411{
    width: 99%;
    height: 250px;
}
.scram411para{
    font-size: 22px;
}
.interceptor650{
    width: 99%;
    height: 250px;
}
.interceptor650para{
    font-size: 22px;
}
  .insta-face{
      margin-left: 750px;
  }
.below-news-page{
    height: 1700px;
    width:100%;
    justify-content: center;
}
.left{
    width: 100%;
    height:1150px;
}
.second-left{
    width: 100%;
    margin-left: 5px;
    margin-top:78px;
    height: 1000px;
}
.first-right{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 1100px;
}
.second-right{
    width: 100%;
    margin-top:78px ;
    margin-left: 5px;
    margin-right: 5px;
    height: 1000px;
}
.full-left{
    height: 1200px;
}
.full-right{
    height: 1200px;
}
.automate{
    font-size:45px;
}
.image{
    width: 75px;
    height: 75px;
}
.insta-image{
    width: 30px;
    height: 30px;
}
.face-image{
    width: 30px;
    height: 30px;

}
.you-tube{
    width: 30px;
    height: 26px;
}
@media only screen and (min-width: 1800px){ 
    .insta-face{
        margin-left: 1000px;
    }
    .classic350{
        width:99%;
        height: 250px;
      } 
      .classic350para{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .bullet350{
        width: 99%;
        height: 250px;
      } 
      .bullet350para{
          font-size: 22px;
      }
      .meteor350{
        width: 99%;
        height: 250px;
      }
      .meteor350para{
          font-size: 22px;
      }
      .himalayam{
         width: 99%;
         height: 250px;
      }
      .himalayampara{
          font-size: 22px;
      }
      .continentalgt650{
          width: 99%;
          height: 250px;
      }
      .continentalgt650para{
          font-size: 22px;
      }
      .scram411{
        width: 99%;
        height: 250px;
    }
    .scram411para{
        font-size: 22px;
    }
    .interceptor650{
        width: 99%;
        height: 250px;
    }
    .interceptor650para{
        font-size: 22px;
    }
      .header{
          height: 100px;
      }
      .image{
          width: 80px;
          height: 80px;
      }
      .automate{
          font-size: 45px;
      }
      .full-left{
          height: 1150px;
      }
      .full-right{
          height: 1150px;
      }
}
@media only screen and (min-width: 2200px){ 
    .insta-face{
        margin-left: 1300px;
    }
    .classic350{
        width:99%;
        height: 280px;
      } 
      .classic350para{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .bullet350{
        width: 99%;
        height: 280px;
      } 
      .bullet350para{
          font-size: 22px;
      }
      .meteor350{
        width: 99%;
        height: 280px;
      }
      .meteor350para{
          font-size: 22px;
      }
      .himalayam{
         width: 99%;
         height: 280px;
      }
      .himalayampara{
          font-size: 22px;
      }
      .continentalgt650{
          width: 99%;
          height: 280px;
      }
      .continentalgt650para{
          font-size: 22px;
      }
      .scram411{
        width: 99%;
        height: 280px;
    }
    .scram411para{
        font-size: 22px;
    }
    .interceptor650{
        width: 99%;
        height: 280px;
    }
    .interceptor650para{
        font-size: 22px;
    }
}
@media only screen and (min-width: 2500px){ 
    .insta-face{
        margin-left: 1500px;
    }
    .classic350{
        width:99%;
        height: 300px;
      } 
      .classic350para{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .bullet350{
        width: 99%;
        height: 300px;
      } 
      .bullet350para{
          font-size: 22px;
      }
      .meteor350{
        width: 99%;
        height: 300px;
      }
      .meteor350para{
          font-size: 22px;
      }
      .himalayam{
         width: 99%;
         height: 300px;
      }
      .himalayampara{
          font-size: 22px;
      }
      .continentalgt650{
          width: 99%;
          height: 300px;
      }
      .continentalgt650para{
          font-size: 22px;
      }
      .scram411{
        width: 99%;
        height: 300px;
    }
    .scram411para{
        font-size: 22px;
    }
    .interceptor650{
        width: 99%;
        height: 300px;
    }
    .interceptor650para{
        font-size: 22px;
    }
    }