.header{
    width: 1240px;
    height: 85px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    position: sticky;

}
.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    flex-wrap: nowrap;
    padding: 0px;
    overflow-x: hidden;

}
.html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.auto-logo{
    width:90px;
    margin-top: 10px;
    height: 70px;
    margin-left: 30px;
}
.image{
    width: 70px;
    height: 70px;
}
.automate{
    font-size: 35px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: wavy;

}
.auto-name{
    width:130px;
    margin-top:23px;
    height: 50px;
    margin-left:0px;
    padding-right: 100px;

}
.search-bardiv{
    width: 450px;
    margin-top:20px;
}
.search-bar{
    width: 450px;
}
.search{
    width: 450px;
}
.search-bbar{
    width:430px;
}
.search-sign{
    width:40px;
    height:40px;
    margin-top: 20px;
    
}
.insta-face{
    width: 100px;
    height: 50px;
    margin-left: 580px;
    padding-left: 0px;
    margin-top: 27px;
    display: flex;

}
.you-tube{
    width: 25px;
    height: 21px;
    padding-left: 5px;
    padding-top: 2px;
    
}
.search-image{
    width: 25px;
    height: 25px;
}
.insta-image{
    width: 25px;
    height: 25px;
}
.face-image{
    width: 25px;
    height: 25px;
    padding-left: 5px;
}
#title-bar{
    width:1240px;
    height: 45px;
    background-color: black;
    margin-top: 2px;
    position: sticky;
}
.sticky {
    position: fixed;
    top: 0;
    width: 1240px;
} 
#title-bar.sticky{
    background-color: rgb(36, 35, 35) ;
}
.news{
    width:50px;
    height:30px;
    display: inline-block;
    margin-left:5px;
    
}
.cars{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.bike{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.comparision{
    width:120px;
    height:50px;
    display: inline-block;
}
.newsp{
    width:50px;
    height:50px;
    display: inline-block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: wavy;
}
.carsp{
    width:50px;
    height:50px;
    display: inline-block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: wavy;
}
.bikep{
    width:50px;
    height:50px;
    display: inline-block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    text-decoration: wavy;
}
.comparisonsp{
    width:120px;
    height:50px;
    display: inline-block;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: wavy;
}
.below-news-page{
    background-color: white;
    width: 1240px;
    height: 2500px;
    flex-wrap: wrap;
}
.left{
    width: 100%;
    height: 2500px;
    background-color:black;
    float: left;
    padding-left: 5px;
}
.benz{
    color: white;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 8px;
}
.benz-s-class{
    width: 99%;
    height:200px;
}
.sclasspara{
    color: white;
    font-size: 15px;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    overflow-wrap: break-word;
    
}
.second-left{
    width:100% ;
    height:2300px;
    background-color:black;
    margin-top: 80px;
}

.first-right{
    width: 100%;
    height:2400px;
    background-color: black;
    margin-top: 80px;
 
}

.second-right{
    width:100%;
    height:2400px;
    background-color:black;
    float: right;
    margin-top: 80px;
    
}

.full-left{
    float: left;
    width: 50%;
    height:2500px;
    background-color: black;
    display: flex;

}
.full-right{
    float:right;
    width: 50%;
    height:2500px;
    background-color: black;
    display: flex;
}
.benz-gla{
    width: 99%;
    height:200px;
}
.glapara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.maybach-sclass{
    width: 99%;
    height:200px;
}
.maybachsclasspara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.aclass-limousine{
    width: 99%;
    height:200px;
}
.aclasslimousinepara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.eclass{
    width: 312px;
    height:200px;
}
.eclasspara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.gls{
    width: 312px;
    height:200px;
}
.glspara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.g-class{
    width: 99%;
    height:200px;
}
.gclasspara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.glc{
    width: 99%;
    height:200px;
}
.glcpara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.maybach-gls{
    width: 99%;
    height:200px;
}
.maybachglspara{
    color:white;
    width: 300px;
    font-family :-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.gle{
    width: 99%;
    height:200px;
}
.glepara{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.c-class-cabriolet{
    width: 99%;
    height:200px;
}
.cclasscabrioletpara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.glc-coupe{
    width: 99%;
    height:200px;
}
.glccoupepara{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-a35{
    width: 99%;
    height:200px;
}
.amga35para{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.v-class{
    width: 99%;
    height:200px;
}
.vclasspara{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-gla35{
    width: 99%;
    height:200px;
}
.amggla35para{
    color:white;
    width: 300px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   list-style-type: none;
   padding-left: 0px;
   font-size: 15px;
}
.c-coupe{
    width: 99%;
    height:200px;
}
.ccoupepara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-glc43{
    width: 99%;
    height:200px;
}
.amgglc43para{
    color:white;
    width: 300px;
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     list-style-type: none;
     padding-left: 0px;
     font-size: 15px;
}
.amg-gt-4doorcoupe{
    width: 99%;
    height:200px;
}
.amggt4doorcoupepara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.benz-eqc{
    width: 99%;
    height:200px;
}
.benzeqcpara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-e63{
    width: 99%;
    height:200px;
}
.amge63para{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-gle-coupe{
    width: 99%;
    height:200px;
}
.amgglecoupepara{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amge53{
    width: 99%;
    height:200px;
}
.amge53para{
    color:white;
    width: 300px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
}
.amg-a45s{
    width: 99%;
    height:200px;
}
.amga45spara{
    color:white;
    width: 300px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    list-style-type: none;
    padding-left: 0px;
    font-size: 15px;
    
}
.footer{
    background-color: rgb(117, 110, 110);
    height:300px;
    display: flex;  
    width: 1240px;
}
.footer-left{
    width: 500px;
    height:400px;
    margin-left: 10px;
}
.footer-middle{
    width:500px ;
    height: 400px;
    margin-top: 10px;
}
.footer-right{
    width: 300px;
    height: 400px;
}
.leftfooter-para{
    color:black;
    font-size:19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about{
    color: black;
    font-size: 18px;
    text-decoration: wavy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.contact{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.automotive-content{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya-mail{
    color:black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.designing{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo-mail{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.footer-cars{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer-bikes{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.comparisions{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.carso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.bikeso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.news:hover{
    background-color:rgb(61, 61, 61);
}
.cars:hover{
    background-color:rgb(61, 61, 61);
}
.bike:hover{
    background-color:rgb(61, 61, 61);
}
.comparision:hover{
    background-color:rgb(61, 61, 61);
}
.vidhya-mail:hover{
    background-color:rgb(61, 61, 61);
}
.christo-mail:hover{
    background-color:rgb(61, 61, 61);
}
.copy-right{
    width: 1280px;
    height: 30px;
    background-color: rgb(36, 35, 35);
    padding-top: 0px;
    margin: 0px;
    flex-direction: column;
}
.copyright{
    font-size: 18px;
    color:grey;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 540px){ 
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .benz-s-class{
      width:100%;
    } 
    .sclasspara{
      overflow-wrap: break-word;
      font-size: 12px;
    }
    .benz-gla{
      width: 100%;
    } 
    .glapara{
        font-size: 12px;
    }
    .maybach-sclass{
      width: 100%;
    }
    .maybachsclasspara{
        font-size: 12px;
    }
    .aclass-limousine{
       width: 100%;
    }
    .aclasslimousinepara{
        font-size: 12px;
    }
    .eclass{
        width: 70%;
    }
    .eclasspara{
        font-size: 12px;
    }
    .gls{
        width: 65%;
    }
    .glspara{
        font-size: 12px;
    }
    .g-class{
        width: 100%;
    }
    .gclasspara{
        font-size: 12px;
    }
    .glc{
        width: 100%;
    }
    .glcpara{
        font-size: 12px;
    }
    .maybach-gls{
        width: 100%;
    }
    .maybachglspara{
        font-size: 12px;
    }
    .gle{
        width: 100%;
    }
    .glepara{
        font-size: 12px;
    }
    .c-class-cabriolet{
        width: 100%;
    }
    .cclasscabrioletpara{
        font-size: 12px;
    }
    .glc-coupe{
        width: 100%;
    }
    .glccoupepara{
        font-size: 12px;
    }
    .amg-a35{
        width: 100%;
    }
    .amga35para{
        font-size: 12px;
    }
    .v-class{
        width: 100%;
    }
    .vclasspara{
        font-size: 12px;
    }
    .amg-gla35{
        width: 100%;
    }
    .amggla35para{
        font-size: 12px;
    }
    .c-coupe{
        width: 100%;
    }
    .ccoupepara{
        font-size: 12px;
    }
    .amg-glc43{
        width: 100%;
    }
    .amgglc43para{
        font-size: 12px;
    }
    .amg-gt-4doorcoupe{
        width: 100%;
    }
    .amggt4doorcoupepara{
        font-size: 12px;
    }
    .amg-e63{
        width: 100%;
    }
    .amge63para{
        font-size: 12px;
    }
    .amge53{
        width: 100%;
    }
    .amge53para{
        font-size: 12px;
    }
    .amg-gle-coupe{
        width: 100%;
    }
    .amgglecoupepara{
        font-size: 12px;
    }
    .amg-a45s{
        width: 100%;
    }
    .amga45spara{
        font-size: 12px;
    }
    .benz-eqc{
        width: 100%;
    }
    .benzeqcpara{
        font-size: 12px;
    }
    .below-news-page{
        height: 4500px;
        width:100%;
        justify-content: center;
    }
    .full-right{
        flex-wrap: wrap;
        height: 4500px;
    }
    .full-left{
        flex-wrap: wrap;
        height: 4500px;
    }
    .left{
        width: 100%;
        height:2190px;
    }
    .second-left{
        width: 100%;
        margin-left: 5px;
        height: 2300px;
        margin-top: 0px;
    }
    .first-right{
        width: 100%;
        margin-left: 10px;
        margin-right: 5px;
        height: 2150px;
    }
    .second-right{
        width: 100%;
        margin-top:0px ;
        margin-left: 10px;
        margin-right: 5px;
        height: 2200px;
        
    }
    .header{
        width:100%;
        height: 50px;
    }
    .auto-logo{
        width: 55px;
        margin-top: 5px;
        height: 45px;
        margin-left: 10px;
    }
    .image{
        width: 45px;
        height: 45px;
    }
    .auto-name{
        width: 50px;
        height: 45px;
    }
    .automate{
        font-size: 20px;
    }
    .insta-face{
        width: 70px;
        height: 35px;
    }
    .insta-image{
        width: 15px;
        height: 15px;
    }
    .face-image{
        width: 15px;
        height: 15px;
    }
    .you-tube{
        width: 15px;
        height: 13px;
    }
    .below-news-page{
        width: 100%;
    }
    .title-bar{
        width: 100%;
    }
    .insta-face{
        margin-left: 60px;
    }
    .footer-left{
        width:60% ;
        height: 300px;
    }
    .footer-middle{
        width:40% ;
        height: 300px;
        margin-left: 0px;
        margin-right: 10px;

    }
    .footer-right{
        display: none;
    }
    .footer{
        height: 400px;
        width: 100%;
    }
    .leftfooter-para{
        font-size: 12px;
    }
    .about{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    .automotive-content{
        font-size: 15px;
    }
    .vidhya{
        font-size: 15px;
    }
    .vidhya-mail{
        font-size: 12px;
    }
    .designing{
        font-size: 15px;
    }
    .christo{
        font-size: 15px;
    }
    .christo-mail{
        font-size: 12px;
    }
    .footer-cars{
        font-size: 15px;
    }
    .footer-bikes{
        font-size: 15px;
    }
    .comparisions{
        font-size: 15px;
    }
    .carso{
        font-size: 15px;
    }
    .bikeso{
        font-size: 15px;
    }
    .copyright{
        margin-left: 0%;
        font-size: 15px;
        margin-left: 20px;
    }
}
@media only screen and (min-width: 1240px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    #title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1000px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1241px){
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    #title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1000px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1350px){
.footer{
    width: 100%;
    height: 400px;
}
.copy-right{
    width: 100%;
}
.header{
    width: 100%;
    height: 95px;
}
.title-bar{
    width: 100%;
}
.gls{
    width: 100%;
}
.cayenne{
    width:99%;
    height: 250px;
  } 
  .cayennepara{
    overflow-wrap: break-word;
    font-size: 22px;
  }
  .macan{
    width: 99%;
    height: 250px;
  } 
  .macanpara{
      font-size: 22px;
  }
  .porsche911{
    width: 99%;
    height: 250px;
  }
  .porsche911para{
      font-size: 22px;
  }
  .porsche718{
     width: 99%;
     height: 250px;
  }
  .porsche718para{
      font-size: 22px;
  }
  .taycan{
      width: 99%;
      height: 250px;
  }
  .taycanpara{
      font-size: 22px;
  }
  .panamera{
    width: 99%;
    height: 250px;
}
.panamerapara{
    font-size: 22px;
}
.taycancrossturismo{
    width: 99%;
    height: 250px;
}
.taycancrossturismopara{
    font-size: 22px;
}
.cayennecoupe{
    width: 99%;
    height: 250px;
}
.cayennecoupepara{
    font-size: 22px;
}
  .insta-face{
      margin-left: 750px;
  }
.below-news-page{
    height: 2500px;
    width:100%;
    justify-content: center;
    background-color: black;
}
.left{
    width: 100%;
    height:1150px;
}
.second-left{
    width: 100%;
    margin-left: 5px;
    margin-top:78px;
    height: 1000px;
}
.first-right{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    height: 1000px;
}
.second-right{
    width: 100%;
    margin-top:78px ;
    margin-left: 5px;
    margin-right: 5px;
    height: 1000px;
}
.full-left{
    height: 1150px;
}
.full-right{
    height: 1150px;
}
.automate{
    font-size:45px;
}
.image{
    width: 75px;
    height: 75px;
}
.insta-image{
    width: 30px;
    height: 30px;
}
.face-image{
    width: 30px;
    height: 30px;

}
.you-tube{
    width: 30px;
    height: 26px;
}
@media only screen and (min-width: 1800px){ 
    .insta-face{
        margin-left: 1000px;
    }
    .cayenne{
        width:99%;
        height: 250px;
      } 
      .cayennepara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .macan{
        width: 99%;
        height: 250px;
      } 
      .macanpara{
          font-size: 22px;
      }
      .porsche911{
        width: 99%;
        height: 250px;
      }
      .porsche911para{
          font-size: 22px;
      }
      .porsche718{
         width: 99%;
         height: 250px;
      }
      .porsche718para{
          font-size: 22px;
      }
      .taycan{
          width: 99%;
          height: 250px;
      }
      .taycanpara{
          font-size: 22px;
      }
      .panamera{
        width: 99%;
        height: 250px;
    }
    .panamerapara{
        font-size: 22px;
    }
    .taycancrossturismo{
        width: 99%;
        height: 250px;
    }
    .taycancrossturismopara{
        font-size: 22px;
    }
    .cayennecoupe{
        width: 99%;
        height: 250px;
    }
    .cayennecoupepara{
        font-size: 22px;
    }
      .header{
          height: 100px;
      }
      .image{
          width: 80px;
          height: 80px;
      }
      .automate{
          font-size: 45px;
      }
      .full-left{
          height: 1150px;
      }
      .full-right{
          height: 1150px;
      }
}
@media only screen and (min-width: 2200px){ 
    .insta-face{
        margin-left: 1300px;
    }
    .cayenne{
        width:99%;
        height: 250px;
      } 
      .cayennepara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .macan{
        width: 99%;
        height: 280px;
      } 
      .macanpara{
          font-size: 22px;
      }
      .porsche911{
        width: 99%;
        height: 280px;
      }
      .porsche911para{
          font-size: 22px;
      }
      .porsche718{
         width: 99%;
         height: 280px;
      }
      .porsche718para{
          font-size: 22px;
      }
      .taycan{
          width: 99%;
          height: 280px;
      }
      .taycanpara{
          font-size: 22px;
      }
      .panamera{
        width: 99%;
        height: 250px;
    }
    .panamerapara{
        font-size: 22px;
    }
    .taycancrossturismo{
        width: 99%;
        height: 250px;
    }
    .taycancrossturismopara{
        font-size: 22px;
    }
    .cayennecoupe{
        width: 99%;
        height: 250px;
    }
    .cayennecoupepara{
        font-size: 22px;
    }
}
@media only screen and (min-width: 2500px){ 
    .insta-face{
        margin-left: 1500px;
    }
    .cayenne{
        width:99%;
        height: 300px;
      } 
      .cayennepara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .macan{
        width: 99%;
        height: 300px;
      } 
      .macanpara{
          font-size: 22px;
      }
      .porsche911{
        width: 99%;
        height: 300px;
      }
      .porsche911para{
          font-size: 22px;
      }
      .porsche718{
         width: 99%;
         height: 300px;
      }
      .porsche718para{
          font-size: 22px;
      }
      .taycan{
          width: 99%;
          height: 300px;
      }
      .taycanpara{
          font-size: 22px;
      }
      .panamera{
        width: 99%;
        height: 300px;
    }
    .panamerapara{
        font-size: 22px;
    }
    .taycancrossturismo{
        width: 99%;
        height: 300px;
    }
    .taycancrossturismopara{
        font-size: 22px;
    }
    .cayennecoupe{
        width: 99%;
        height: 300px;
    }
    .cayennecoupepara{
        font-size: 22px;
    }
    }