.header{
    width: 1240px;
    height: 85px;
    margin-top: 0px;
    background-color: black;
    display: flex;
    position: sticky;
}
.body{
    width: 100%;
    height: 100%;
    margin: 0px;
    flex-wrap: nowrap;
    padding: 0px;
    overflow-x: hidden;
}
.html,body{
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
.image{
    width: 70px;
    height: 70px;
}
.auto-logo{
    width:90px;
    margin-top: 10px;
    height: 70px;
    margin-left: 30px;
    

}
.automate{
    font-size: 35px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: wavy;

}
.auto-name{
    width:130px;
    margin-top:23px;
    height: 50px;
    margin-left:0px;
    padding-right: 100px;

}
.search-bardiv{
    width: 450px;
    margin-top:20px;
    
}
.search-bar{
    width: 450px;
}
.search{
    width: 450px;
}
.search-bbar{
    width:430px;
}
.search-sign{
    width:40px;
    height:40px;
    margin-top: 20px;
    
}
.insta-face{
    width: 100px;
    height: 50px;
    margin-left: 580px;
    padding-left: 0px;
    margin-top: 27px;
    display: flex;

}
.you-tube{
    width: 25px;
    height: 21px;
    padding-left: 5px;
    padding-top: 2px;
    
}
.search-image{
    width: 25px;
    height: 25px;
}
.insta-image{
    width: 25px;
    height: 25px;
}
.face-image{
    width: 25px;
    height: 25px;
    padding-left: 5px;
}
#title-bar{
    width:1240px;
    height: 45px;
    background-color: black;
    margin-top: 2px;
    position: sticky;
}
.sticky {
    position: fixed;
    top: 0;
    width: 1240px;
} 
#title-bar.sticky{
    background-color: rgb(36, 35, 35) ;
}
.news{
    width:50px;
    height:50px;
    display: inline-block;
    margin-left:5px;
    
}
.cars{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.bike{
    width:50px;
    height:50px;
    display: inline-block;
    
}
.comparision{
    width:120px;
    height:50px;
    display: inline-block;
}
.newsp{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carsp{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bikep{
    width:50px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}
.comparisonsp{
    width:120px;
    height:50px;
    display: inline-block;
    text-decoration: wavy;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo-page{
    background-color: white;
    width: 1240px;
    height: 720px;
}
.logo-box{
    width:300px;
    height: 50px;
    margin-left: 40px;
    padding-top:10px;
}
.logo{
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.full-logo{
    width: 65%;
    height:720px;
    margin-left: 200px;
   
}
.honda{
    width: 120px;
    height: 100px;
}
.jaguar{
    width: 120px;
    height: 100px;
}
.hyundai{
    width: 120px;
    height: 100px;
}
.lambo{
    width: 110px;
    height: 100px;
}
.porsche{
    width: 110px;
    height: 90px;
}
.tata{
    width: 110px;
    height: 90px;
}
.renault{
    width: 120px;
    height: 100px;
}
.skoda{
    width: 120px;
    height: 100px;
}
.toyota{
    width: 120px;
    height: 100px;
}
.bentley{
    width: 120px;
    height: 100px;
}
.bmw{
    width: 100px;
    height: 80px;
}
.ferrari{
    width: 120px;
    height: 100px;
}
.fiat{
    width: 120px;
    height: 100px;
}
.ford{
    width: 120px;
    height: 100px;
}
.honda{
    width: 120px;
    height: 100px;
}
.hyundai{
    width: 120px;
    height: 100px;
}
.isuzu{
    width: 120px;
    height: 100px;
}
.jaguar{
    width: 120px;
    height: 100px;
}
.jeep{
    width: 120px;
    height: 100px;
}
.kia{
    width: 120px;
    height: 100px;
}
.land{
    width: 120px;
    height: 100px;
}
.lexus{
    width: 120px;
    height: 100px;
}
.lamborghini{
    width: 120px;
    height: 100px;
}
.mercedes{
    width: 120px;
    height: 100px;
}
.mg{
    width: 100px;
    height: 80px;
}
.skoda{
    width: 120px;
    height: 100px;
}
.nissan{
    width: 110px;
    height: 90px;
}
.volkswagen{
    width: 100px;
    height: 80px;
}
.volvo{
    width: 100px;
    height: 80px;
}
.mini{
    width: 120px;
    height: 100px;
}
.datsun{
    width: 120px;
    height: 100px;
}
.rolls-royce{
    width: 120px;
    height: 100px;
}
.audi{
    width: 120px;
    height: 100px;
}
.force{
    width: 120px;
    height: 100px;
}
.tesla{
    width: 120px;
    height: 100px;
}
.mclareno{
    width: 120px;
    height: 100px;
}
.mahindra{
    width: 120px;
    height: 100px;
}
.mitsubishi{
    width: 120px;
    height: 100px;
}
.maseratio{
    width: 120px;
    height: 100px;
}
.bugatti{
    width: 120px;
    height: 100px;
}
.citreon{
    width: 120px;
    height: 100px;
}
.footer{
    background-color: rgb(117, 110, 110);
    height:370px;
    display: flex;  
    padding-top: 0px;
    width: 1240px;
}
.footer-left{
    width: 40%;
    height:400px;
    margin-left: 10px;
}
.footer-middle{
    width:40%;
    height: 400px;
    margin-top: 10px;
}
.footer-right{
    width: 20%;
    height: 400px;
}
.leftfooter-para{
    color:black;
    font-size:19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.about{
    color: black;
    font-size: 18px;
    text-decoration: wavy;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.contact{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.automotive-content{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.vidhya-mail{
    color:black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.designing{
    color: white;
    font-size: 22px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo{
    color: white;
    font-size: 21px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.christo-mail{
    color: black;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-decoration: wavy;
}
.footer-cars{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.footer-bikes{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.comparisions{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.carso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.bikeso{
    color: black;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.news:hover{
    background-color:rgb(61, 61, 61);
}
.cars:hover{
    background-color:rgb(61, 61, 61);
}
.bike:hover{
    background-color:rgb(61, 61, 61);
}
.comparision:hover{
    background-color:rgb(61, 61, 61);
}
.vidhya-mail:hover{
    background-color:rgb(61, 61, 61);
}
.christo-mail:hover{
    background-color:rgb(61, 61, 61);
}
.copy-right{
    width: 1240px;
    height: 30px;
    background-color: rgb(36, 35, 35);
    padding-top: 0px;
    margin: 0px;
    flex-direction: column;
}
.copyright{
    font-size: 18px;
    color:grey;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 540px){ 
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .honda{
        width: 60px;
        height: 50px;
    }
    .jaguar{
        width: 60px;
        height: 50px;
    }
    .lambo{
        width: 60px;
        height: 50px;
    }
    .hyundai{
        width: 60px;
        height: 50px;
    }
    .lamborghini{
        width: 60px;
        height: 50px;
    }
    .porsche{
        width: 60px;
        height: 50px;
    }
    .tata{
        width: 60px;
        height: 50px;
    }
    .renault{
        width: 60px;
        height: 50px;
    }
    .skoda{
        width: 60px;
        height: 50px;
    }
    .toyota{
        width: 60px;
        height: 50px;
    }
    .bentley{
        width: 60px;
        height: 50px;
    }
    .bmw{
        width: 60px;
        height: 50px;
    }
    .ferrari{
        width: 60px;
        height: 50px;
    }
    .fiat{
        width: 60px;
        height: 50px;
    }
    .ford{
        width: 60px;
        height: 50px;
    }
    .honda{
        width: 60px;
        height: 50px;
    }
    .hyundai{
        width: 60px;
        height: 50px;
    }
    .isuzu{
        width: 60px;
        height: 50px;
    }
    .jaguar{
        width: 60px;
        height: 50px;
    }
    .jeep{
        width: 60px;
        height: 50px;
    }
    .kia{
        width: 60px;
        height: 50px;
    }
    .land{
        width: 60px;
        height: 50px;
    }
    .lexus{
        width: 60px;
        height: 50px;
    }
    .mercedes{
        width: 60px;
        height: 50px;
    }
    .mg{
        width: 60px;
        height: 50px;
    }
    .skoda{
        width: 60px;
        height: 50px;
    }
    .nissan{
        width: 60px;
        height: 50px;
    }
    .volkswagen{
        width: 60px;
        height: 50px;
    }
    .volvo{
        width: 60px;
        height: 50px;
    }
    .mini{
        width: 60px;
        height: 50px;
    }
    .datsun{
        width: 60px;
        height: 50px;
    }
    .rolls-royce{
        width: 60px;
        height: 50px;
    }
    .audi{
        width: 60px;
        height: 50px;
    }
    .force{
        width: 60px;
        height: 50px;
    }
    .tesla{
        width: 60px;
        height: 50px;
    }
    .mclareno{
        width: 60px;
        height: 50px;
    }
    .mahindra{
        width: 60px;
        height: 50px;
    }
    .mitsubishi{
        width: 60px;
        height: 50px;
    }
    .maseratio{
        width: 60px;
        height: 50px;
    }
    .bugatti{
        width: 60px;
        height: 50px;
    }
    .citreon{
        width: 60px;
        height: 50px;
    }
    .full-logo{
        margin-left: 10px;
        margin-right: 0px;
        justify-content: center;
        width: 100px;
        border: 0%;
        height: 400px;
    }
    .logo-page{
        width: 100%;
        margin-left: 0px;
        height: 450px;
    }
    .header{
        width:100%;
        height: 50px;
    }
    .auto-logo{
        width: 55px;
        margin-top: 5px;
        height: 45px;
        margin-left: 10px;
    }
    .image{
        width: 45px;
        height: 45px;
    }
    .auto-name{
        width: 50px;
        height: 45px;
        margin-top: 15px;
    }
    .automate{
        font-size: 20px;
    }
    .insta-face{
        width: 70px;
        height: 35px;
        margin-top: 18px;
    }
    .insta-image{
        width: 15px;
        height: 15px;
    }
    .face-image{
        width: 15px;
        height: 15px;
    }
    .you-tube{
        width: 15px;
        height: 13px;
    }
    .full-logo{
        width: 100%;
    }
    .logo{
        font-size: 20px;
    }
    .title-bar{
        width: 100%;
    }
    .insta-face{
        margin-left: 60px;
    }
    .footer-left{
        width:60%;
        height: 300px;
    }
    .footer-middle{
        width:40%;
        height: 300px;
        margin-left: 0px;
        margin-right: 10px;

    }
    .footer-right{
        display: none;
    }
    .footer{
        height: 300px;
        width: 100%;

    }
    .leftfooter-para{
        font-size: 12px;
    }
    .about{
        font-size: 15px;
    }
    .contact{
        font-size: 15px;
    }
    .automotive-content{
        font-size: 15px;
    }
    .vidhya{
        font-size: 15px;
    }
    .vidhya-mail{
        font-size: 12px;
    }
    .designing{
        font-size: 15px;
    }
    .christo{
        font-size: 15px;
    }
    .christo-mail{
        font-size: 12px;
    }
    .footer-cars{
        font-size: 15px;
    }
    .footer-bikes{
        font-size: 15px;
    }
    .comparisions{
        font-size: 15px;
    }
    .carso{
        font-size: 15px;
    }
    .bikeso{
        font-size: 15px;
    }
    .copyright{
        margin-left: 0%;
        font-size: 15px;
        margin-left: 20px;
        width: 100%;
    }
}
@media only screen and (min-width: 1240px){
    html,body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    #title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1000px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1241px){
    .footer{
        width: 100%;
        height: 400px;
    }
    .copy-right{
        width: 100%;
    }
    .header{
        width: 100%;
    }
    #title-bar{
        width: 100%;
    }
    .below-news-page{
        height: 1000px;
        width:100%;
        justify-content: center;
    }
}
@media only screen and (min-width: 1350px){
.footer{
    width: 100%;
    height: 400px;
}
.copy-right{
    width: 100%;
}
.header{
    width: 100%;
    height: 95px;
}
#title-bar{
    width: 100%;
}
.velar{
    width:99%;
    height: 250px;
  } 
  .velarpara{
    overflow-wrap: break-word;
    font-size: 22px;
  }
  .evoque{
    width: 99%;
    height: 250px;
  } 
  .evoquepara{
      font-size: 22px;
  }
  .rangerover{
    width: 99%;
    height: 250px;
  }
  .rangeroverpara{
      font-size: 22px;
  }
  .discoverysport{
     width: 99%;
     height: 250px;
  }
  .discoverysportpara{
      font-size: 22px;
  }
  .rangeroversport{
      width: 99%;
      height: 250px;
  }
  .rangeroversportpara{
      font-size: 22px;
  }
  .discovery{
    width: 99%;
    height: 250px;
}
.discoverypara{
    font-size: 22px;
}
.defender{
    width: 99%;
    height: 250px;
}
.defenderpara{
    font-size: 22px;
}
  .insta-face{
      margin-left: 750px;
  }

.automate{
    font-size:45px;
}
.image{
    width: 75px;
    height: 75px;
}
.insta-image{
    width: 30px;
    height: 30px;
}
.face-image{
    width: 30px;
    height: 30px;

}
.full-logo{
    margin-left: 350px;
}
.you-tube{
    width: 30px;
    height: 26px;
}
@media only screen and (min-width: 1800px){ 
    .insta-face{
        margin-left: 1000px;
    }
    .velar{
        width:99%;
        height: 250px;
      } 
      .velarpara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .evoque{
        width: 99%;
        height: 250px;
      } 
      .evoquepara{
          font-size: 22px;
      }
      .rangerover{
        width: 99%;
        height: 250px;
      }
      .rangeroverpara{
          font-size: 22px;
      }
      .discoverysport{
         width: 99%;
         height: 250px;
      }
      .discoverysportpara{
          font-size: 22px;
      }
      .rangeroversport{
          width: 99%;
          height: 250px;
      }
      .rangeroversportpara{
          font-size: 22px;
      }
      .discovery{
        width: 99%;
        height: 250px;
    }
    .discoverypara{
        font-size: 22px;
    }
    .defender{
        width: 99%;
        height: 250px;
    }
    .defenderpara{
        font-size: 22px;
    }
      .header{
          height: 100px;
      }
      .image{
          width: 80px;
          height: 80px;
      }
      .automate{
          font-size: 45px;
      }
      .full-logo{
        margin-left: 400px;
    }
}
@media only screen and (min-width: 2200px){ 
    .insta-face{
        margin-left: 1300px;
    }
    .velar{
        width:99%;
        height: 280px;
      } 
      .velarpara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .evoque{
        width: 99%;
        height: 280px;
      } 
      .evoquepara{
          font-size: 22px;
      }
      .rangerover{
        width: 99%;
        height: 280px;
      }
      .rangeroverpara{
          font-size: 22px;
      }
      .discoverysport{
         width: 99%;
         height: 280px;
      }
      .discoverysportpara{
          font-size: 22px;
      }
      .rangeroversport{
          width: 99%;
          height: 280px;
      }
      .rangeroversportpara{
          font-size: 22px;
      }
      .discovery{
        width: 99%;
        height: 280px;
    }
    .discoverypara{
        font-size: 22px;
    }
    .defender{
        width: 99%;
        height: 280px;
    }
    .defenderpara{
        font-size: 22px;
    }
}
@media only screen and (min-width: 2500px){ 
    .insta-face{
        margin-left: 1500px;
    }
    .velar{
        width:99%;
        height: 300px;
      } 
      .velarpara{
        overflow-wrap: break-word;
        font-size: 22px;
      }
      .evoque{
        width: 99%;
        height: 300px;
      } 
      .evoquepara{
          font-size: 22px;
      }
      .rangerover{
        width: 99%;
        height: 300px;
      }
      .rangeroverpara{
          font-size: 22px;
      }
      .discoverysport{
         width: 99%;
         height: 300px;
      }
      .discoverysportpara{
          font-size: 22px;
      }
      .rangeroversport{
          width: 99%;
          height: 300px;
      }
      .rangeroversportpara{
          font-size: 22px;
      }
      .discovery{
        width: 99%;
        height: 300px;
    }
    .discoverypara{
        font-size: 22px;
    }
    .defender{
        width: 99%;
        height: 300px;
    }
    .defenderpara{
        font-size: 22px;
    }
    }